/* importação de fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Modak&family=Quicksand&display=swap');

/* configurações gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    transition: all 0.2s ease;
    color: var(--text-color);
    font-weight: 400;
}

a{
    text-decoration: none;
}

button{
    font-weight: 600;
    cursor: pointer;
    height: 40px;
    padding: 0px 30px;
    color: var(--white);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 40px;
}

/* botão de tema */
#tema, #menu{
    background-color: transparent;
    border: none;
    padding: 0;
}

#tema img, #menu img{
    height: 30px;
}

/* botão de ocultar ou mostrar senha */
#btn-pass, #btn-pass2{
    background-color: transparent;
    border: none;
    padding: 0;
}

#btn-pass img, #btn-pass2 img{
    height: 25px;
    cursor: pointer;
}

/* definindo as propriedades da logo */
.logo img{
    width: 150px;
}

/* criação de variáveis */
:root{
    --light-gray: #FAFAFA;
    --white: #FFFFFF;
    --black: #000000;
    --text-color: #555555;
    --text-hover: #858585;
    --light-text-color: #ffffffc5;
    --main-color: #D90000;
    --dark-red: #AD0000;
    --light-red: #e05a5a;
    --main-purple: #7c3aed;

    /* tema escuro */

    --dark-gray: #1b1d1e;
    --dark-bg: #181a1b;
}

/* definindo propriedade de classes */

.title{
    font-size: 30px;
    color: var(--black);
}

.subtitle{
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
}

b{
    font-size: 30px;
    color: var(--black);
    font-weight: 600;
}

/* animações padrão */
button:hover{
    background-color: transparent;
    color: var(--main-color);
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* tema escuro */

.dark{
   background-color: var(--dark-bg); 
}

.dark .title{
   color: var(--white);
}

.dark .subtitle{
   color: var(--white);
}

.dark .title b{
   color: var(--white);
}

.dark p{
    color: var(--light-text-color);
}