/* estilo do header */
header{
    height: 100px;
    width: 100vw;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

#menu{
    display: none;
}

.scrolled{
    box-shadow: 2px 2px 10px #00000031;
}

/* propriedades da nav e seus componentes*/
nav{
    width: 1250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

nav ul li a{
    color: var(--text-color);
    transition: all 0.1s ease;
}

.acesso a{
    color: var(--main-color);
}

/* animações e transições */
nav ul li a:hover{
    color: var(--text-hover);
}

.acesso a:hover{
    color: var(--light-red);
}

/* tema escuro */

.dark header{
    background-color: var(--dark-gray);
}

.dark nav ul li a{
    color: var(--light-text-color); 
}

.dark .acesso a:hover{
    color: var(--light-red);
}

.dark .acesso a{
    color: var(--main-color);
}

.dark nav ul li a:hover{
    color: var(--text-hover); 
}

/* responsividade */
@media (max-width: 800px) {
    #menu{
        display: flex;
    }

    header{
        justify-content: space-between;
        padding: 20px;
    }

    nav{
        margin-right: -200px;
        padding: 20px;
        width: 200px;
        position: fixed;
        height: 400px;
        top: 100px;
        right: 0px;
        flex-direction: column;
        background-color: var(--light-gray);
        border-top: 1px solid var(--white);
    }

    nav ul{
        flex-direction: column;
    }

    .ativado{
        margin-right: 0px;
    }

    /* tema escuro */
    .dark nav{
        background-color: var(--dark-gray);
        border-top: 1px solid var(--text-hover);
    }
}