/* article */
body>article{
    height: 400px;
    background-color: var(--light-gray);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

body>article .title{
    font-weight: 600;
}

.search{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.input{
    height: 40px;
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 0px 5px;
    border-radius: 40px;
}

.input img{
    height: 30px;
}

.input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

/* primeira section */

.section1{
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
}

.section1 article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

.section1 article img{
    height: 170px;
    transition: all 0.2s ease;
}

.section1 article div{
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

/* animações */

.section1 article img:hover{
    animation: sino 0.5s infinite;
}

@keyframes sino {
    50%{ 
        transform: rotate(10deg); 
    }
    100%{ 
        transform: rotate(0deg); 
    }
}

/* segunda section */

.section2{
    height: 300px;
    width: 100vw;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
}

.section2 .title{
    width: 300px;
    color: var(--white);
}

.section2 b{
    color: var(--white);
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.cards div{
    height: 200px;
    width: 250px;
    background-color: var(--white);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 10px;
    gap: 10px;
}

.cards div p{
    text-align: center;
}

/* animações */

.cards div:hover{
    margin-bottom: 10px;
    transition: all 0.3s ease;
}