/* article */
body>article {
    height: 400px;
    background-color: var(--light-gray);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

body>article .title {
    font-weight: 600;
}

.search {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.input {
    height: 40px;
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 0px 5px;
    border-radius: 40px;
}

.input img {
    height: 30px;
}

.input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

/* primeira section */
.section1 {
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
}

.section1 article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

.section1 article img {
    height: 170px;
    transition: all 0.2s ease;
}

.section1 article div {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

/* animações */

.section1 article img:hover {
    animation: sino 0.5s infinite;
}

@keyframes sino {
    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.section1 article:hover b {
    color: var(--main-color);
}

/* segunda section */

.section2 {
    height: 400px;
    width: 100vw;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 200px;
}

.section2 .title {
    color: var(--white);
}

.section2 b {
    color: var(--white);
}

.cards {
    height: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.cards div {
    height: 200px;
    width: 250px;
    background-color: var(--white);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 10px;
    gap: 10px;
}

.cards div p {
    text-align: center;
}

/* animações */

.cards div:hover {
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.cards div:hover .subtitle {
    color: var(--main-color);
}

/* tema escuro */

.dark>article {
    background-color: var(--dark-gray);
}

.dark .input {
    background-color: var(--dark-bg);
}

.dark .input input {
    color: var(--light-text-color);
}

.dark .cards div {
    background-color: var(--dark-bg);
}

/* responsividade */

@media (max-width: 800px) {

    p {
        text-align: center;
    }

    /* article */
    body>article {
        height: 500px;
        padding: 100px 20px;
    }

    .search {
        flex-direction: column;
    }

    .input {
        width: 350px;
        flex-direction: row;
    }

    /* primeira section */
    .section1 {
        height: 900px;
        flex-direction: column;
        padding: 100px 20px;
    }

    .section1 article {
        max-width: 500px;
        flex-direction: column;
        gap: 10px;
    }

    .section1 article img {
        height: 100px;
        transition: all 0.2s ease;
    }

    .section1 article div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    /* segunda section */
    .section2 {
        height: 1150px;
        background-color: var(--main-color);
        justify-content: space-between;
        padding: 100px 20px;
        gap: 50px;
    }

    .cards {
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .section2 .title {
        height: 122px;
    }

    .cards div:hover {
        margin-bottom: 0px;
        transition: all 0.5s ease;
    }
}