/* article */
body>article{
    height: 400px;
    background-color: var(--light-gray);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

body>article .title{
    font-weight: 600;
}

.search{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.input{
    height: 40px;
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 0px 5px;
    border-radius: 40px;
}

.input img{
    height: 30px;
}

.input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

/* primeira section */

section{
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

section article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

section article img{
    height: 200px;
}

section article div{
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}