/* Sidebar */
.sidebar{
    width: 250px;
    background: var(--main-purple);
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logo{
    margin-top: 40px;
}

nav{
    padding: 20px;
    border-top: 1px solid var(--light-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

nav a{
    color: var(--white);
}

nav a button{
    background-color: var(--dark-purple);
    border: 1px solid var(--dark-purple);
    color: var(--white);
}

/* transições */
nav a:hover{
    color: var(--light-text-color);
}

nav a button:hover{
    background-color: transparent;
    border: 1px solid var(--dark-purple);
    color: var(--white);
}

/* tema escuro */

.dark .sidebar{
    background-color: var(--dark-purple);
}

.dark nav a button{
    background-color: var(--main-purple);
    border: 1px solid var(--main-purple);
    color: var(--white);
}

.dark nav a button:hover{
    background-color: transparent;
    border: 1px solid var(--main-purple);
    color: var(--white);
}